#landing {
  padding-left: 420px;

  height: 100vh;
  h1 {
    width: 800px;
    height: 100px;

    margin: 110px 0 0 0px;
    padding-top: 10px;

    background: radial-gradient(
        circle at bottom left,
        $bottom_left_gradient,
        transparent
      ),
      radial-gradient(
        circle at top right,
        $top_right_gradient 800%,
        transparent
      );

    font-size: 4rem;
    text-align: center;
  }

  h2 {
    color: $text_color2;
  }

  img {
    width: 300px;
    position: absolute;
    left: 80px;
    top: 150px;
  }

  .linkedIn {
    background-image: url("../img/linkedIn.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
    display: inline-block;

    border: solid black 1px;

    cursor: pointer;
  }
  .scroll_arrow {
    position: absolute;
    bottom: 2em;
    width: 8vw;
    left: 46vw;

    animation: arrow_kf 1s infinite ease-in-out alternate;

    fill: #121212;

    .left {
      transform: rotate(20deg);
    }
    .right {
      transform-origin: right top;
      transform: rotate(-20deg);
    }
  }

  @keyframes arrow_kf {
    100% {
      transform: translateY(60%);
    }
  }
}
