#landing {
  height: 100vh;

  background-color: $bg_color;

  .grid_container {
    display: grid;
    grid-template-columns: 400px 1fr;
  }

  h1 {
    margin: 0;
    padding: 0;

    font-size: 4rem;
    font-weight: 200;
  }

  h2 {
    font-size: 2.5rem;
    margin: 20px 0;
  }

  img {
    width: 300px;
    margin-top: 20px;
  }

  .linkedIn {
    background-image: url("../img/linkedIn.png");
    background-color: #eee;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
    display: inline-block;

    cursor: pointer;
  }
  .scroll_arrow {
    position: absolute;
    bottom: 2em;
    width: 8vw;
    left: 46vw;

    animation: arrow_kf 1s infinite ease-in-out alternate;

    fill: $text_color;

    .left {
      transform: rotate(20deg);
    }
    .right {
      transform-origin: right top;
      transform: rotate(-20deg);
    }

    svg,
    svg rect {
      cursor: pointer;
    }
  }

  @keyframes arrow_kf {
    100% {
      transform: translateY(60%);
    }
  }
}
