//General SASS

$text_color: #ddd;
$bg_color: #222;

$bottom_left_gradient: rgba(2, 78, 129, 0.7);
$top_right_gradient: rgba(54, 13, 129, 0.6);

* {
  box-sizing: border-box;
  color: $text_color;
  font-family: "Muli", sans-serif;
  cursor: default;
}

html {
  background-color: $bg_color;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

section {
  width: 100vw;
  padding: 60px;
  padding-top: 30px;
  position: relative;
}

a,
button {
  cursor: pointer;
}

h2 {
  font-weight: 200;
  font-size: 4rem;
  margin: 40px 0px;
}

.section_spacer {
  height: 150px;
  background-color: $text_color;
  background-size: auto 100%;

  &.spacer_skills {
    background-image: url(../img/spacer_skills.jpg);
  }
  &.spacer_examples {
    background-image: url(../img/spacer_examples.jpg);
  }
  &.spacer_footer {
    background-image: url(../img/spacer_footer.jpg);
  }
}

//imports
@import "sass/landing.scss";
@import "sass/skills.scss";
@import "sass/examples.scss";
@import "sass/footer.scss";
